*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

#root,
#__next {
	isolation: isolate;
}

.shadow {
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.container {
	height: 100vh;
	display: grid;
	background-color: rgb(255, 255, 255);
	grid-template-columns: minmax(250px, 325px) repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas:
		"logo    header  header  header  header  header  header  header"
		"sidebar content content content content content content content"
		"sidebar content content content content content content content"
		"sidebar content content content content content content content"
		"sidebar content content content content content content content"
		"sidebar content content content content content content content";
}

.sidebar {
	display: grid;
    font-family: "REM", sans-serif;
    font-weight: 500;
	grid-template-rows: repeat(6, 1fr);
	grid-area: sidebar;
	margin: 20px;
	border-radius: 10px;
    border: 3px solid #3BA55C;
	color: black;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 35px;
	margin-right: 20px;
}

.main-links {
	font-size: 1.5rem;
	grid-row-start: 2;
	padding-left: 2.5rem;
}

.secondary-links {
	font-size: 1.5rem;
	grid-row-start: 4;
	padding-left: 2.5rem;
}

li {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

li:hover {
    color: #3BA55C;
    cursor: grab;
}

li:active {
    color: #5ac07a;
    cursor: grabbing;
}

.header {
	display: grid;
	grid-area: header;
	margin: 20px;
	border-radius: 10px;
	border: 3px solid #3BA55C;
}

.content {
	display: grid;
	grid-area: content;
}
